*{
    outline:none
}
body{
    font-family: sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}
button {
    border:none;
    background: orange;
    color:white;
    font-weight: 700;
    padding: 1rem;
}