:root{
    --main-color: rgb(64, 169, 255);
    --main-color-faded: rgb(146, 206, 255);
}
.Metronome {
    display:flex;
    flex-flow: column;
    
    padding: 1rem 3rem;
    border: rgb(235, 235, 235) solid  1px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 300px;
}
.Metronome button {
    padding: 1rem;
    border: none;
    cursor: pointer;
    color: white;
    background:none;
    width:6rem;

}
.Metronome button svg{
    fill: var(--main-color);
}

.Metronome__head {
    margin-top: 1rem;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}
